<% content_for :sidebar do %>
  <%= render partial: 'sidebar'%>
<% end %>

<div class="row">
  <% @products.each do |product| %>
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <% if product.cover_photo.attached? %>
        <%= link_to image_tag(product.cover_photo, size: '250x260'), product %>
      <% else %>
        <%= link_to image_tag("https://via.placeholder.com/150", size: '250x260'), product %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to product.name, product %>
        </h4>
        <h5><%= product.prize %>$</h5>
        <p class="card-text"><%= product.description %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
