<% content_for :sidebar do %>
  <%= render partial: 'sidebar'%>
<% end %>

<div class="row">
  <% @products.each do |product| %>
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <%= image_tag product.cover_photo, :size => '250x260' %>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"><%= link_to product.name, product_path(product) %></a>
        </h4>
        <h5><%= product.prize %>$</h5>
        <p class="card-text"><%= product.description %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
