<%= render partial: 'flash_messages' %>

<div class="card" style="width: 18rem;">
  <% if @product.cover_photo.attached? %>
    <%= image_tag @product.cover_photo, :size => '250x260', class: "card-img-top" %>
  <% else %>
    <img class="card-img-top product-card-placeholder-img" src="https://via.placeholder.com/150" alt="">
  <% end %>
  <div class="card-body">
    <h4 class="card-title"><%= @product.name %></h4>
    <h5 class="card-title">Description:</h5>
    <p class="card-text"><%= @product.description %></p>
    <h5 class="card-title">Price:</h5>
    <p class="card-text"><%= @product.prize %> $</p>
    <h5 class="card-title">Category:</h5>
    <p class="card-text"><%= @product.category.title %></p>
    <h5 class="card-title">Brand:</h5>
    <p class="card-text"><%= @product.brand.title %></p>
    <%= form_with url: line_items_path(product_id: @product.id), local: true do |f| %>
      <%= f.label :quantity, 'Quantity' %>
      <%= f.number_field :quantity, placeholder: 'Type quantity' %>
      <%= f.submit 'Add to cart', class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
</div>

